.banner {
    position: relative;
}

.banner__imagem {
    background-image: url('../img/banner.jpg');
    height: calc(100vh - 72px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.banner__titulo {
    font-family: Pacifico, cursive;
    font-size: 7rem;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    text-shadow: 0 4px 4px #000000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.sobre {
    text-align: center;
}

.sobre__titulo {
    color: #8D0606;
    font-family: Pacifico, cursive;
    font-weight: 400;
    font-size: 4rem;
}

.sobre__descriçao {
    color: #8C8888;
    font-family: Roboto;
    font-weight: 300;
    font-size: 2rem;
}

@media screen and (min-width: 0) {
    .banner__titulo {
        font-size: 3rem;
    }

    .banner__imagem {
        height: calc(50vh - 51px);
    }

    .sobre {
        padding: 2.5rem 2.5rem;
    }

    .sobre__titulo {
        font-size: 2rem;
    }

    .sobre__descriçao {
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 768px) {
    .banner__titulo {
        font-size: 7rem;
    }

    .sobre {
        padding: 2.5rem;
    }

    .banner__imagem {
        height: calc(100vh - 72px);
    }

    .sobre__titulo {
        font-size: 4rem;
    }
    
    .sobre__descriçao {
        font-size: 2rem;
    }
}